<div class="header">
    <div class="rg">
        <button class="search-btn1" type="button">Register</button>
        <a routerLink="/tutors-list"><button class="search-btn1" type="button">Tutors</button></a>
    </div>
    <form>
        <h1> Find Best Teacher near you</h1>
        <div class="form-box">
            <input type="text" class="search-field business" placeholder="Language">

            <input type="text" class="search-field business" placeholder="Location">
            <button class="search-btn" type="button">Search</button>
        </div>
    </form>
</div>